# Eclipse #
/.classpath
/.project
/.settings/

# IntelliJ #
*.iml
*.iws
*.ipr
\.idea/

# Maven #
/target/
/doc/
/natives/

# Misc #
.checksums

# Binaries #
*.jar
*.class

notebooks/\.ipynb_checkpoints/
